[submodule "grade/report/laegrader"]
	path = grade/report/laegrader
	url = /opt/local/apache2/htdocs/laegrader
[submodule "blocks/quickset"]
	path = blocks/quickset
	url = /opt/local/apache2/htdocs/quickset
[submodule "theme/shoelace"]
	path = theme/shoelace
	url = /opt/local/apache2/htdocs/shoelace
[submodule "theme/essential"]
	path = theme/essential
	url = /opt/local/apache2/htdocs/essential
[submodule "local/profileswitches"]
	path = local/profileswitches
	url = /opt/local/apache2/htdocs/profileswitches
[submodule "local/loginas"]
	path = local/loginas
	url = /opt/local/apache2/htdocs/loginas
[submodule "blocks/sharing_cart"]
	path = blocks/sharing_cart
	url = /opt/local/apache2/htdocs/sharing_cart
[submodule "course/format/grid"]
	path = course/format/grid
	url = /opt/local/apache2/htdocs/grid
[submodule "mod/journal"]
	path = mod/journal
	url = /opt/local/apache2/htdocs/journal
[submodule "report/customsql"]
	path = report/customsql
	url = /opt/local/apache2/htdocs/customsql
[submodule "report/editdates"]
	path = report/editdates
	url = /opt/local/apache2/htdocs/editdates
[submodule "report/roster"]
	path = report/roster
	url = /opt/local/apache2/htdocs/roster
[submodule "question/behaviour/regexpadaptivewithhelpnopenalty"]
	path = question/behaviour/regexpadaptivewithhelpnopenalty
	url = /opt/local/apache2/htdocs/regexpadaptivewithhelpnopenalty
[submodule "question/behaviour/regexpadaptivewithhelp"]
	path = question/behaviour/regexpadaptivewithhelp
	url = /opt/local/apache2/htdocs/regexpadaptivewithhelp
[submodule "question/type/regexp"]
	path = question/type/regexp
	url = /opt/local/apache2/htdocs/regexp
[submodule "mod/forumng"]
	path = mod/forumng
	url = /opt/local/apache2/htdocs/forumng
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = /opt/local/apache2/htdocs/questionnaire
[submodule "mod/oublog"]
	path = mod/oublog
	url = /opt/local/apache2/htdocs/oublog
[submodule "course/format/flexsections"]
	path = course/format/flexsections
	url = /opt/local/apache2/htdocs/flexsections
