[submodule "grade/report/laegrader"]
	path = grade/report/laegrader
	url = /opt/local/apache2/htdocs/laegrader
[submodule "blocks/quickset"]
	path = blocks/quickset
	url = /opt/local/apache2/htdocs/quickset
[submodule "theme/shoelace"]
	path = theme/shoelace
	url = /opt/local/apache2/htdocs/shoelace
[submodule "theme/essential"]
	path = theme/essential
	url = /opt/local/apache2/htdocs/essential
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = /opt/local/apache2/htdocs/questionnaire
