#context {
text-align:right;
display:inline;
	}

.ic { 
display:inline;
}

.block_quickset form#sections {
	max-width: 85%;
	margin: auto;
}

.block_quickset span.updatesettings input {
	cursor: hand; 
	cursor: pointer; 
	display:inline-block;
	font-size:90%;
	float:left;
	margin-right:0px;
	margin-left:0px;
	padding-left:0px;
	background-color: #ff9999;
}

.block_quickset span.noaction input {
	cursor: hand; 
	cursor: pointer; 
	display:inline-block;
	font-size:90%;
	float:left;
	margin-right:0px;
	margin-left:0px;
	padding-left:0px;
	background-color: #66ff33;
	}

.block_quickset div.sorder {
	line-height:1em;
	max-width:30%;
	position:absolute;
	right:10px;
	-webkit-border-radius:0.2em;
	-webkit-border-radius-bottomleft:0;
	-webkit-border-radius-topleft:0;
	border-radius:0.2em;
	border-radius-bottomleft:0;
	border-radius-topleft:0;
	z-index:900;
	display:inline-block;
	margin:0;
	margin-left:5em;
	background-color:#ddf;
}
.block_quickset .ynlabel {
	text-align:right;
	font-weight:bold;
	font-size:75%;
	padding-right:0px;
}
.block_quickset .setleft {
    text-align:left;
    border-bottom:1px #eeeeee dotted;
	margin-bottom:3px;
	margin-top:4px;
	font-size:90%;
	float:left;
	width:70%;
}
.block_quickset span.leftradio input {
	margin-top:4px;
	margin-right:2px;
}

.block_quickset span.rightradio input{
	margin-top:4px;
	margin-left:2px;
}
.block_quickset .setright {
	text-align:right;
	float:right;
	width:30%;
	margin-top:4px;
}

.block_quickset .toplevel {
    z-index = 1500;
}
.block_quickset .blue {
color: #0000ff;
}

.block_quickset .red {
color: #ff0000;

}

.block_quickset .green {
color: #009900;
}
.block_quickset .textcenter {
	text-align: center;
}
.block_quickset .course_settings {
    margin-bottom:5px;
}

.block_quickset div.smallred {
	text-align:center;
	color:red;
	font-size: 75%;
	}
.block_quickset .small {
	font-size:75%;
	color:#333333;
}

.block_quickset .nodisplay input {display: none;}

/***** edit sections styles *****/
#sections {text-align:center;}
#sections div.content{background-color:#F9F9F9; width:87%;float:none;margin: auto; position:relative;-webkit-border-radius:0.6em;-webkit-border-radius-bottomleft:0;-webkit-border-radius-topleft:0;border-radius:0.6em;border-radius-bottomleft:0;border-radius-topleft:0;line-height:1.4em;padding:0.5em;}
#sections div.snum {padding-top:0.2em;}
#sections div.section {padding-top:0.3em;display: inline-block;}
#sections span.sectionname, #sections span.nameheader
#sections span.sectiontext{display:inline-block;}
#sections span.sectioncontainer{display: block;}
#sections .section .sectioncontainer span.sectnum {width:2.6em;float:left;padding-top:.2em; vertical-align:middle;}
#sections .section .sectioncontainer span.singlesection {display:inline-block;}
#sections .section .sectioncontainer span.sectnum label {font-size:80%;display:inline-block;margin-right:.25em;}
#sections .section span.sorder {display: inline-block;}
#sections div.reordercontrols {text-align: center;} 
#sections .reordercontrols .nodisplay {display: none;}
#sections .reordercontrols .nameheader{float:none;}
#sections .reordercontrols .moveselectedonpage input{background-color: #66ff33; cursor: hand; cursor: pointer; display:inline-block;}
#sections .reordercontrols .sectiondeleteselected input{cursor: hand; cursor: pointer;display:inline-block; margin-right:1em;}
#sections .reordercontrols .addnewsectionafterselected input{background-color: #99ccff; cursor: hand; cursor: pointer; display:inline-block; margin-right:1em;}
#sections .reordercontrols .returntocourse input{background-color: #cccccc; cursor: hand; cursor: pointer; display:inline-block; margin-right:1em}
